.file-viewer {
    margin: 24px 0;
}

.file-content {
    max-height: calc(40vh - 24px);
    overflow: auto;
    padding-top: 12px;
    font-size: 14px;
}

.log-view {
    font-family: "Courier New", monospace;
    white-space: pre-wrap;
    overflow-wrap: anywhere;
}
