.fileViewer {
    margin: 24px 0;
}

.fileContent {
    max-height: calc(40vh - 36px);
    overflow: auto;
    padding-top: 12px;
}

.logView {
    font-family: "Courier New";
    white-space: pre-wrap;
}
