.file-viewer {
    margin: 24px 0;
}

.file-content {
    max-height: calc(40vh - 24px);
    overflow: auto;
    padding-top: 12px;
}

.log-view {
    font-family: "Courier New";
    white-space: pre-wrap;
    font-size: 13px;
}
