@import "../node_modules/react-keyed-file-browser/dist/react-keyed-file-browser.css";

.results-browser {
    padding: 24px;
    display: grid;
    column-gap: 50px;
    align-items: start;
    overflow: hidden;
    max-height: 90vh;
}

.results-statistics {
    grid-column: 1;
}

th {
    text-align: left;
}

.rendered-react-keyed-file-browser {
    grid-column: 2 / 4;
}

.files {
    max-height: 90vh;
    overflow: auto;
}
