@import "../node_modules/react-keyed-file-browser/dist/react-keyed-file-browser.css";

.loading {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 100vh;
}

.loading div {
    width: 25%;
    padding: 12px;
}

.results-browser {
    padding: 12px;
    display: grid;
    column-gap: 50px;
    grid-template-columns: max-content;
    align-items: start;
    overflow: hidden;
    max-height: 95vh;
}

.file-statistics {
    grid-column: 1;
}

.file-browser-with-filter {
    grid-column: 2;
    grid-row: 1 / 2;
}

.file-browser-with-filter svg {
    margin-right: 8px;
    margin-bottom: -4px;
    color: black;
}

.file a {
    color: royalblue;
}

.file-viewer {
    grid-column: 2;
    grid-row: 2;
}

.files {
    max-height: calc(50vh - 25px);
    overflow: auto;
}

.filters {
    display: flex;
    flex-direction: row;
}

.filters input {
    margin-right: 6px;
}

.filters label {
    padding: 0 6px;
}
